# **C-HACK Tutorial 3: Functions and Pandas Introduction**

**Instructor**: redacted<br>
**Contact**: redacted

Today, we will discuss **_functions_** in more depth.  We've seen them previously and used them, for example the `.append()` **_function_**.  Here, we'll dig into how you can make your own functions to encapsulate code that you will reuse over and over.  

Then we'll jump into the **Pandas** package.  Packages are collections of related functions.  These are the things we `import`. Pandas is a two dimensional data structure like a spreadsheet in Excel.

### 3.1 Review from Tutorial on Data Structures and Flow Control

In our last tutorial, we discussed **_lists_**, **_dictionaries_**, and **_flow control_**.

**_Lists_** are **_ordered collections_** of data that can be used to hold multiple pieces of information while preserving thier order.  We use `[` and `]` to access elements by their indices which start with `0`.  All things that operate on **_lists_** like slices use the concept of an inclusive lower bound and an exclusive upper bound.  So, the following gets elements from the **_list_** `my_list` with index values of `0`, `1`, and `2`, but **not** `3`!

```
my_list[0:3]
```

It is equivalent to what other way of writing the same statement using **_slicing_**?  Hint, think about leaving out one of the numbers in the slice!

**_Dictionaries_** are **_named_** **_collections_** of data that can be used to hold multiple pieces of information as **_values_** that are addressed by **_keys_** resulting in a **_key_** to **_value_** data structure.  They are accessed with `[` and `]` but intialized with `{` and `}`.  E.g.

```
my_dict = { 'cake' : 'Tasty!', 'toenails' : 'Gross!' }
my_dict['cake']
```

Finally, we talked about **_flow control_** and using the concept of **_conditional execution_** to decide which code statements were executed.  Remember this figure?


<img src="https://docs.oracle.com/cd/B19306_01/appdev.102/b14261/lnpls008.gif">Flow control figure</img>

What are the **_if_** statments?

Where do **_for_** loops fit in?

What was the overarching concept of a **_function_**?

### 3.2 Functions

For loops let you repeat some code for every item in a list.  Functions are similar in that they run the same lines of code for new values of some variable.  They are different in that functions are not limited to looping over items.

Functions are a critical part of writing easy to read, reusable code.

Create a function like:
```
def function_name (parameters):
    """
    optional docstring
    """
    function expressions
    return [variable]
```

_Note:_ Sometimes I use the word argument in place of parameter.

Here is a simple example.  It prints a string that was passed in and returns nothing.

```
def print_string(str):
    """This prints out a string passed as the parameter."""
    print(str)
    return
```

In [1]:
def print_string(str):
    """This prints out a string passed as the parameter."""
    print(str)
    return

To call the function, use:
```
print_string("Dave is awesome!")
```

_Note:_ The function has to be defined before you can call it!

In [2]:
print_string2("Dave is OK")

NameError: name 'print_string2' is not defined

If you don't provide an argument or too many, you get an error.

In [3]:
print_string()

TypeError: print_string() missing 1 required positional argument: 'str'

#### 3.2.1 Function Parameters

Parameters (or arguments) in Python are all passed by reference.  This means that if you modify the parameters in the function, they are modified outside of the function.

See the following example:

```
def change_list(my_list):
   """This changes a passed list into this function"""
   my_list.append('four');
   print('list inside the function: ', my_list)
   return

my_list = [1, 2, 3];
print('list before the function: ', my_list)
change_list(my_list);
print('list after the function: ', my_list)
```

In [4]:
def change_list(my_list):
   """This changes a passed list into this function"""
   my_list.append('four');
   print('list inside the function: ', my_list)
   return

my_list = [1, 2, 3];
print('list before the function: ', my_list)
change_list(my_list);
print('list after the function: ', my_list)

list before the function:  [1, 2, 3]
list inside the function:  [1, 2, 3, 'four']
list after the function:  [1, 2, 3, 'four']

#### 3.2.2 For advanced folks...

Variables have scope: **_global_** and **_local_**

In a function, new variables that you create are not saved when the function returns - these are **_local_** variables.  Variables defined outside of the function can be accessed but not changed - these are **_global_** variables, _Note_ there is a way to do this with the **_global_** keyword.  Generally, the use of **_global_** variables is not encouraged, instead use parameters.

```
my_global_1 = 'bad idea'
my_global_2 = 'another bad one'
my_global_3 = 'better idea'

def my_function():
    print(my_global)
    my_global_2 = 'broke your global, man!'
    global my_global_3
    my_global_3 = 'still a better idea'
    return
    
my_function()
print(my_global_2)
print(my_global_3)
```

In general, you want to use parameters to provide data to a function and return a result with the `return`. E.g.

```
def sum(x, y):
    my_sum = x + y
    return my_sum
```

If you are going to return multiple objects, what data structure that we talked about can be used?  Give and example below.

#### 3.2.3 Parameters have  different types:

| type | behavior |
|------|----------|
| required | positional, must be present or error, e.g. `my_func(first_name, last_name)` |
| keyword | position independent, e.g. `my_func(first_name, last_name)` can be called `my_func(first_name='Dave', last_name='Beck')` or `my_func(last_name='Beck', first_name='Dave')` |
| default | keyword params that default to a value if not provided |

```
def print_name(first, last='the C-Hacker'):
    print('Your name is %s %s' % (first, last))
    return
```

In [5]:
def print_name(first, last='the C-Hacker'):
    print('Your name is %s %s' % (first, last))
    return

Play around with the above function.

In [6]:
print_name('Dave', last='his Data Science Majesty')

Your name is Dave his Data Science Majesty

Functions can contain any code that you put anywhere else including:
* if...elif...else
* for...else
* while
* other function calls

```
def print_name_age(first, last, age):
    print_name(first, last)
    print('Your age is %d' % (age))
    if age > 35:
        print('You are really old.')
    return
```

In [7]:
def print_name_age(first, last, age):
    print_name(first, last)
    print('Your age is %d' % (age))
    if age > 35:
        print('You are really old.')
    return

```
print_name_age(age=46, last='Beck', first='Dave')
```

In [8]:
print_name_age(age=46, last='Beck', first='Dave')

Your name is Dave Beck
Your age is 46
You are really old.

## 3.3 Pandas and the Scientific Python Toolkit

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

### 3.3.1 Pandas

We begin by loading the Panda's package.  Packages are collections of functions that share a common utility.  We've seen `import` before.  Let's use it to import Pandas and all the richness that pandas has.

```
import pandas
```

In [9]:
import pandas

```
df = pandas.DataFrame()
```

In [10]:
df = pandas.DataFrame()

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

```
import pandas as pd
import numpy as np
```

In [11]:
import pandas as pd
import numpy as np

Let's create an empty _data frame_ and put the result into a variable called `df`.  This is a popular choice for a _data frame_ variable name.

```
df = pd.DataFrame()
```

In [12]:
df = pd.DataFrame()


Let's create some random data as a pandas data frame.  Before we get to the dataframe, let's briefly talk about numpy's `random` function.  If we look at the [`random`](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html) documentation, you can see it takes a size argument.  This should be a `list` or a `tuple` that says what the "height" and "width" of the generated data will be.  In our case, we will get 10 rows of data in three columns with the following:

```
np.random.random((10,3))
```


Notice we change the value of the `df` variable to point to a new data frame.

```
df = pd.DataFrame(data=np.random.random((10,3)), columns=['v1', 'v2', 'v3'])
```

In [13]:
df = pd.DataFrame(data=np.random.random((10,3)), columns=['v1', 'v2', 'v3'])

*Note: strings in Python can be defined either with double quotes or single quotes*

### 3.3.2 Viewing Pandas Dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data.

```
df.head()
df.tail()
```

In [14]:
df.head()

         v1        v2        v3
0  0.117109  0.354480  0.019400
1  0.224408  0.309082  0.111739
2  0.298274  0.007288  0.560451
3  0.789350  0.979810  0.998449
4  0.037988  0.015583  0.626505

In [15]:
df.tail()

         v1        v2        v3
5  0.429066  0.389504  0.007721
6  0.292433  0.117206  0.973603
7  0.279638  0.326763  0.842746
8  0.938193  0.865764  0.838070
9  0.943328  0.383895  0.750600

### Important!

Prior to the start of C-Hack, you received instructions on how to set up your Google Drive & Colab.  The videos are here:

* [How to load a file into Colab 1: Basics](https://www.youtube.com/watch?v=5rZn-aVNR0A)
* [How to load a file into Colab 2: .csv and Python](https://www.youtube.com/watch?v=_2z3tFPbwjA)

Before moving forward, let's load a more interesting set of data as a DataFrame: the NOAA storm dataset. We can load it from a `csv` (comma seperated values) file that we have in google drive.  Before we can do this, however, we need to attach this notebook to our Google drive.

*Note:* when you run this, your browser will popup a new window asking you to authenticate to Google drive.  

```
from google.colab import drive
drive.mount('/content/drive')
```

In [16]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

With our notebook now able to access the files in our Google drive, we can now open the CSV (comma separated value) file that contains the NOAA data we want to use.  To do that, we use the Pandas `read_csv` function and give it a file path that is in our drive.

```
path_to_file = '/content/drive/MyDrive/C-HACK 2022 EVENT/Tutorials/NOAA_storm_data/cleaned_data.csv'
df = pd.read_csv(path_to_file, index_col=0)
df.head()
```

In [19]:
path_to_file = '../NOAA_storm_data/cleaned_data.csv'
df = pd.read_csv(path_to_file, index_col=0)
df.head()

,BEGIN_DATE_TIME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,LATITUDE,LONGITUDE
0,13-JAN-05 18:52:00,Tornado,0,0,0,0,0.0,0.0,33.78,-82.20
1,12-JAN-05 20:56:00,Tornado,0,0,0,0,50000.0,0.0,36.58,-92.28
2,12-JAN-05 21:30:00,Tornado,0,0,0,0,300000.0,0.0,36.87,-91.90
3,12-JAN-05 21:50:00,Tornado,0,0,0,0,100000.0,0.0,37.02,-91.68
4,04-JAN-05 22:35:00,Thunderstorm Wind,0,0,0,0,10000.0,0.0,32.37,-102.90

From this `head` of the dataframe, we can see the following columns are present in our dataset and the table belows shows the data types and descriptions from NOAA about the fields.

| Column            | Data type   | Description                                                                                                        |
|-------------------|-------------|--------------------------------------------------------------------------------------------------------------------|
| BEGIN_DATE_TIME   | Date / time | When the adverse weather event start.                                                                               |
| EVENT_TYPE        | String      | Human readable name for the type of adverse weather event; E.g. Hail, Thunderstorm, Wind, Snow, Ice (spelled out)  |
| INJURIES_DIRECT   | Integer     | The number of injuries directly caused by the weather event.                                                       |
| INJURIES_INDIRECT | Integer     | The number of injuries indirectly caused by the weather event.                                                     |
| DEATHS_DIRECT     | Integer     | The number of deaths directly caused by the weather event.                                                         |
| DEATHS_INDIRECT   | Integer     | The number of deaths indirectly caused by the weather event.                                                       |
| DAMAGE_PROPERTY   | Float       | The estimated amount of damage to property incurred by the weather event.                                          |
| DAMAGE_CROPS      | Float       | The estimated amount of damage to crops incurred by the weather event.                                             |
| LATITUDE          | Float       | The latitude in decimal degrees of the begin point of event or damage path.                                        |
| LONGITUDE         | Float       | The longitude in decimal degrees of the begin point of event or damage path.                                       |

Cool!  Now we know what data we have, now let's see how much data we have!

The ``shape`` attribute shows us the number of elements:

```
df.shape
```

Note it doesn't have the `()` because it isn't a **_function_** - it is an **_attribute_** or variable attached to the `df` object.

In [20]:
df.shape

(33633, 10)

The ``columns`` attribute gives us the column names

```
df.columns
```

In [21]:
df.columns

Index(['BEGIN_DATE_TIME', 'EVENT_TYPE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT',
       'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS',
       'LATITUDE', 'LONGITUDE'],
      dtype='object')

The ``index`` attribute gives us the index names.  Note that in this instance, our index column is a unique identifier for each event in the form of an integer from 0 to 33632.

```
df.index
```

In [22]:
df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            33623, 33624, 33625, 33626, 33627, 33628, 33629, 33630, 33631,
            33632],
           dtype='int64', length=33633)

The ``dtypes`` attribute gives the data types of each column, remember the data type *_floating point_**?:

```
df.dtypes
```

In [23]:
df.dtypes

BEGIN_DATE_TIME       object
EVENT_TYPE            object
INJURIES_DIRECT        int64
INJURIES_INDIRECT      int64
DEATHS_DIRECT          int64
DEATHS_INDIRECT        int64
DAMAGE_PROPERTY      float64
DAMAGE_CROPS         float64
LATITUDE             float64
LONGITUDE            float64
dtype: object

### 3.3.3. Manipulating data with ``pandas``

Here we'll cover some key features of manipulating data with pandas

Access columns by name using square-bracket indexing:

```
df['LONGITUDE']
```

In [24]:
df['LONGITUDE']

0        -82.2000
1        -92.2800
2        -91.9000
3        -91.6800
4       -102.9000
           ...
33628    -82.6500
33629    -82.5900
33630    -79.1530
33631    -78.8998
33632    -78.3316
Name: LONGITUDE, Length: 33633, dtype: float64

Mathematical operations on columns happen *element-wise*:

```
df['DAMAGE_PROPERTY'] / 1000.
```

In [25]:
df['DAMAGE_PROPERTY'] / 1000.

0          0.0
1         50.0
2        300.0
3        100.0
4         10.0
         ...
33628      0.0
33629      0.0
33630     10.0
33631     10.0
33632     20.0
Name: DAMAGE_PROPERTY, Length: 33633, dtype: float64

Columns can be created (or overwritten) with the assignment operator.

Let's create a `DAMAGE_PROPERTY_THOUSANDS` column which convers the `DAMAGE_PROPERTY` values into unites of 1000s of dollars.

```
df['DAMAGE_PROPERTY_THOUSANDS'] = df['DAMAGE_PROPERTY'] / 1000
```

In [26]:
df['DAMAGE_PROPERTY_THOUSANDS'] = df['DAMAGE_PROPERTY'] / 1000

Let's use the `.head()` **_function_** to see our new data!

```
df.head()
```

In [27]:
df.head()

,BEGIN_DATE_TIME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,LATITUDE,LONGITUDE,DAMAGE_PROPERTY_THOUSANDS
0,13-JAN-05 18:52:00,Tornado,0,0,0,0,0.0,0.0,33.78,-82.20,0.0
1,12-JAN-05 20:56:00,Tornado,0,0,0,0,50000.0,0.0,36.58,-92.28,50.0
2,12-JAN-05 21:30:00,Tornado,0,0,0,0,300000.0,0.0,36.87,-91.90,300.0
3,12-JAN-05 21:50:00,Tornado,0,0,0,0,100000.0,0.0,37.02,-91.68,100.0
4,04-JAN-05 22:35:00,Thunderstorm Wind,0,0,0,0,10000.0,0.0,32.37,-102.90,10.0

In preparation for grouping the data, let's bin the events by their property damage. For that, we'll use ``pd.cut``

```
df['PROPERTY_DAMAGE_GROUP'] = pd.cut(df['LONGITUDE'], 1000)
df.head()
df.dtypes
```

In [28]:
df['DAMAGE_PROPERTY_group'] = pd.cut(df['DAMAGE_PROPERTY'], 1000)

In [29]:
df.head()

,BEGIN_DATE_TIME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,LATITUDE,LONGITUDE,DAMAGE_PROPERTY_THOUSANDS,DAMAGE_PROPERTY_group
0,13-JAN-05 18:52:00,Tornado,0,0,0,0,0.0,0.0,33.78,-82.20,0.0,"(-5500.0, 5500.0]"
1,12-JAN-05 20:56:00,Tornado,0,0,0,0,50000.0,0.0,36.58,-92.28,50.0,"(49500.0, 55000.0]"
2,12-JAN-05 21:30:00,Tornado,0,0,0,0,300000.0,0.0,36.87,-91.90,300.0,"(297000.0, 302500.0]"
3,12-JAN-05 21:50:00,Tornado,0,0,0,0,100000.0,0.0,37.02,-91.68,100.0,"(99000.0, 104500.0]"
4,04-JAN-05 22:35:00,Thunderstorm Wind,0,0,0,0,10000.0,0.0,32.37,-102.90,10.0,"(5500.0, 11000.0]"

In [30]:
df.dtypes

BEGIN_DATE_TIME                object
EVENT_TYPE                     object
INJURIES_DIRECT                 int64
INJURIES_INDIRECT               int64
DEATHS_DIRECT                   int64
DEATHS_INDIRECT                 int64
DAMAGE_PROPERTY               float64
DAMAGE_CROPS                  float64
LATITUDE                      float64
LONGITUDE                     float64
DAMAGE_PROPERTY_THOUSANDS     float64
DAMAGE_PROPERTY_group        category
dtype: object

### 3.3.4 Simple Grouping of Data

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

#### 3.3.4.1 Value Counts

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down the molecules by their mass group that we just created:

```
pd.value_counts(df['DAMAGE_PROPERTY_group'])
```

In [31]:
pd.value_counts(df['DAMAGE_PROPERTY_group'])

(-5500.0, 5500.0]         29012
(5500.0, 11000.0]          1357
(11000.0, 16500.0]          482
(49500.0, 55000.0]          442
(16500.0, 22000.0]          441
                          ...
(3305500.0, 3311000.0]        0
(3300000.0, 3305500.0]        0
(3294500.0, 3300000.0]        0
(3289000.0, 3294500.0]        0
(2744500.0, 2750000.0]        0
Name: DAMAGE_PROPERTY_group, Length: 1000, dtype: int64

What happens if we try this on a continuous valued variable like longitude?

```
pd.value_counts(df['LONGITUDE'])
```

In [32]:
pd.value_counts(df['LONGITUDE'])

-93.6200     38
-93.2000     32
-98.0000     28
-92.4500     27
-97.5800     27
             ..
-88.0575      1
-93.6057      1
-94.3405      1
-71.0484      1
-117.1741     1
Name: LONGITUDE, Length: 16537, dtype: int64

We can do a little data exploration with this to look at the distribution of data in a column.  Here, let's look at the number of direct deaths in our dataset.

```
pd.value_counts(df['DEATHS_DIRECT'])
```

In [33]:
pd.value_counts(df['DEATHS_DIRECT'])

0     33510
1       104
2        16
21        1
17        1
4         1
Name: DEATHS_DIRECT, dtype: int64

Thankfully, of our 33633 adverse weather events, 33510 had no deaths!  That is how many percent?

```
(33510/33633) * 100
```

In [34]:
(33510/33633) * 100

99.63428775309964

### Question:
How can we alter the `pd.value_counts` call to show us the percent of events with the specified number of deaths?

Hint:  Can you do math on the `pd.value_counts` call?  Can you do it without hard coding the number of rows in the dataframe?

#### 3.3.4.2 Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image borrowed from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do))

![image](https://swcarpentry.github.io/r-novice-gapminder/fig/12-plyr-fig1.png)

:Let's break take this in smaller steps.
Recall our ``DAMAGE_PROPERTY_group`` column.

```
pd.value_counts(df['DAMAGE_PROPERTY_group'])
```

In [35]:
pd.value_counts(df['DAMAGE_PROPERTY_group'])

(-5500.0, 5500.0]         29012
(5500.0, 11000.0]          1357
(11000.0, 16500.0]          482
(49500.0, 55000.0]          442
(16500.0, 22000.0]          441
                          ...
(3305500.0, 3311000.0]        0
(3300000.0, 3305500.0]        0
(3294500.0, 3300000.0]        0
(3289000.0, 3294500.0]        0
(2744500.0, 2750000.0]        0
Name: DAMAGE_PROPERTY_group, Length: 1000, dtype: int64

`groupby` allows us to look at the number of values for each column and each value.

```
df.groupby(['DAMAGE_PROPERTY_group']).count()
```

In [36]:
df.groupby(['DAMAGE_PROPERTY_group']).count()

,BEGIN_DATE_TIME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,LATITUDE,LONGITUDE,DAMAGE_PROPERTY_THOUSANDS
DAMAGE_PROPERTY_group,,,,,,,,,,,
"(-5500.0, 5500.0]",29012,29012,29012,29012,29012,29012,29012,29012,29012,29012,29012
"(5500.0, 11000.0]",1357,1357,1357,1357,1357,1357,1357,1357,1357,1357,1357
"(11000.0, 16500.0]",482,482,482,482,482,482,482,482,482,482,482
"(16500.0, 22000.0]",441,441,441,441,441,441,441,441,441,441,441
"(22000.0, 27500.0]",407,407,407,407,407,407,407,407,407,407,407
...,...,...,...,...,...,...,...,...,...,...,...
"(5472500.0, 5478000.0]",0,0,0,0,0,0,0,0,0,0,0
"(5478000.0, 5483500.0]",0,0,0,0,0,0,0,0,0,0,0
"(5483500.0, 5489000.0]",0,0,0,0,0,0,0,0,0,0,0
"(5489000.0, 5494500.0]",0,0,0,0,0,0,0,0,0,0,0
"(5494500.0, 5500000.0]",1,1,1,1,1,1,1,1,1,1,1

Now, let's find the mean of each of the columns for each ``LONG_group``.  *Notice* what happens to the non-numeric columns.

```
df.groupby(['DAMAGE_PROPERTY_group']).mean()
```

In [37]:
df.groupby(['DAMAGE_PROPERTY_group']).mean()

,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,LATITUDE,LONGITUDE,DAMAGE_PROPERTY_THOUSANDS
DAMAGE_PROPERTY_group,,,,,,,,,
"(-5500.0, 5500.0]",0.008893,0.000551,0.003792,0.000586,4.456201e+02,564.510203,37.821502,-91.109094,0.445620
"(5500.0, 11000.0]",0.023581,0.000000,0.013265,0.000000,9.363272e+03,3520.044215,37.381751,-88.724431,9.363272
"(11000.0, 16500.0]",0.101660,0.008299,0.008299,0.000000,1.468604e+04,2864.107884,37.425276,-88.407303,14.686037
"(16500.0, 22000.0]",0.018141,0.002268,0.011338,0.000000,1.991873e+04,2487.528345,37.586162,-89.786109,19.918730
"(22000.0, 27500.0]",0.014742,0.000000,0.002457,0.000000,2.501280e+04,21445.208845,38.094390,-92.229975,25.012801
...,...,...,...,...,...,...,...,...,...
"(5472500.0, 5478000.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(5478000.0, 5483500.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(5483500.0, 5489000.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(5489000.0, 5494500.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(5494500.0, 5500000.0]",0.000000,0.000000,0.000000,0.000000,5.500000e+06,0.000000,41.960200,-72.649400,5500.000000

*Note* that in some instances, the values returned are `NaN` or [Not a Number](https://en.wikipedia.org/wiki/NaN).  This is used to represent something that cannot be calculated.  Why do you think some of these values cannot be calculated?

Hint: What is 0/0?

You can specify a groupby using the names of table columns and compute other functions, such as the ``sum``, ``count``, ``std``, and ``describe``.

```
df.groupby(['DAMAGE_PROPERTY_group'])['DEATHS_DIRECT'].describe()
```

In [38]:
df.groupby(['DAMAGE_PROPERTY_group'])['DEATHS_DIRECT'].describe()

                          count      mean       std  min  25%  50%  75%   max
DAMAGE_PROPERTY_group
(-5500.0, 5500.0]       29012.0  0.003792  0.118238  0.0  0.0  0.0  0.0  17.0
(5500.0, 11000.0]        1357.0  0.013265  0.162396  0.0  0.0  0.0  0.0   4.0
(11000.0, 16500.0]        482.0  0.008299  0.090813  0.0  0.0  0.0  0.0   1.0
(16500.0, 22000.0]        441.0  0.011338  0.125619  0.0  0.0  0.0  0.0   2.0
(22000.0, 27500.0]        407.0  0.002457  0.049568  0.0  0.0  0.0  0.0   1.0
...                         ...       ...       ...  ...  ...  ...  ...   ...
(5472500.0, 5478000.0]      0.0       NaN       NaN  NaN  NaN  NaN  NaN   NaN
(5478000.0, 5483500.0]      0.0       NaN       NaN  NaN  NaN  NaN  NaN   NaN
(5483500.0, 5489000.0]      0.0       NaN       NaN  NaN  NaN  NaN  NaN   NaN
(5489000.0, 5494500.0]      0.0       NaN       NaN  NaN  NaN  NaN  NaN   NaN
(5494500.0, 5500000.0]      1.0  0.000000       NaN  0.0  0.0  0.0  0.0   0.0

[1000 rows x 8 columns]

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

You can even group by multiple values: for example we can look at the statistics grouped by the `DAMAGE_PROPETY_GROUP` and `DEATHS_DIRECT`.

In [39]:
df.groupby(['DAMAGE_PROPERTY_group', 'DEATHS_DIRECT']).describe()

                                     INJURIES_DIRECT                           \
                                               count      mean       std  min
DAMAGE_PROPERTY_group  DEATHS_DIRECT
(-5500.0, 5500.0]      0                     28930.0  0.006360  0.163023  0.0
                       1                        69.0  0.826087  3.459669  0.0
                       2                        12.0  1.416667  3.824760  0.0
                       17                        1.0  0.000000       NaN  0.0
(5500.0, 11000.0]      0                      1345.0  0.017844  0.308090  0.0
...                                              ...       ...       ...  ...
(1496000.0, 1501500.0] 0                         1.0  0.000000       NaN  0.0
(1996500.0, 2002000.0] 0                         1.0  0.000000       NaN  0.0
(2997500.0, 3003000.0] 0                         1.0  0.000000       NaN  0.0
(3498000.0, 3503500.0] 0                         1.0  0.000000       NaN  0.0
(5494500.0, 5500000.0] 0                         1.0  0.000000       NaN  0.0

                                                          INJURIES_INDIRECT  \
                                      25%  50%  75%   max             count
DAMAGE_PROPERTY_group  DEATHS_DIRECT
(-5500.0, 5500.0]      0              0.0  0.0  0.0  14.0           28930.0
                       1              0.0  0.0  0.0  28.0              69.0
                       2              0.0  0.0  0.0  13.0              12.0
                       17             0.0  0.0  0.0   0.0               1.0
(5500.0, 11000.0]      0              0.0  0.0  0.0   9.0            1345.0
...                                   ...  ...  ...   ...               ...
(1496000.0, 1501500.0] 0              0.0  0.0  0.0   0.0               1.0
(1996500.0, 2002000.0] 0              0.0  0.0  0.0   0.0               1.0
(2997500.0, 3003000.0] 0              0.0  0.0  0.0   0.0               1.0
(3498000.0, 3503500.0] 0              0.0  0.0  0.0   0.0               1.0
(5494500.0, 5500000.0] 0              0.0  0.0  0.0   0.0               1.0

                                                ... LONGITUDE            \
                                          mean  ...       75%       max
DAMAGE_PROPERTY_group  DEATHS_DIRECT            ...
(-5500.0, 5500.0]      0              0.000518  ...  -81.8400  144.8000
                       1              0.014493  ...  -79.6078  -66.6450
                       2              0.000000  ...  -79.1444  -71.3800
                       17             0.000000  ...  -93.3458  -93.3458
(5500.0, 11000.0]      0              0.000000  ...  -80.7500  -69.2500
...                                        ...  ...       ...       ...
(1496000.0, 1501500.0] 0              1.000000  ... -116.1816 -116.1816
(1996500.0, 2002000.0] 0              0.000000  ...  -84.4800  -84.4800
(2997500.0, 3003000.0] 0              0.000000  ... -115.7600 -115.7600
(3498000.0, 3503500.0] 0              0.000000  ... -102.3400 -102.3400
(5494500.0, 5500000.0] 0              0.000000  ...  -72.6494  -72.6494

                                     DAMAGE_PROPERTY_THOUSANDS               \
                                                         count         mean
DAMAGE_PROPERTY_group  DEATHS_DIRECT
(-5500.0, 5500.0]      0                               28930.0     0.444391
                       1                                  69.0     0.811884
                       2                                  12.0     1.340000
                       17                                  1.0     0.000000
(5500.0, 11000.0]      0                                1345.0     9.359450
...                                                        ...          ...
(1496000.0, 1501500.0] 0                                   1.0  1500.000000
(1996500.0, 2002000.0] 0                                   1.0  2000.000000
(2997500.0, 3003000.0] 0                                   1.0  3000.000000
(3498000.0, 3503500.0] 0                                   1.0  3500.000000
(5494500.0, 5500000.0] 0                                   1.0  5500.000000

                                                                         \
                                           std      min     25%     50%
DAMAGE_PROPERTY_group  DEATHS_DIRECT
(-5500.0, 5500.0]      0              1.179367     0.00     0.0     0.0
                       1              1.616369     0.00     0.0     0.0
                       2              1.968368     0.00     0.0     0.0
                       17                  NaN     0.00     0.0     0.0
(5500.0, 11000.0]      0              1.269434     5.63    10.0    10.0
...                                        ...      ...     ...     ...
(1496000.0, 1501500.0] 0                   NaN  1500.00  1500.0  1500.0
(1996500.0, 2002000.0] 0                   NaN  2000.00  2000.0  2000.0
(2997500.0, 3003000.0] 0                   NaN  3000.00  3000.0  3000.0
(3498000.0, 3503500.0] 0                   NaN  3500.00  3500.0  3500.0
(5494500.0, 5500000.0] 0                   NaN  5500.00  5500.0  5500.0


                                          75%     max
DAMAGE_PROPERTY_group  DEATHS_DIRECT
(-5500.0, 5500.0]      0                 0.00     5.5
                       1                 1.00     5.0
                       2                 2.25     5.0
                       17                0.00     0.0
(5500.0, 11000.0]      0                10.00    11.0
...                                       ...     ...
(1496000.0, 1501500.0] 0              1500.00  1500.0
(1996500.0, 2002000.0] 0              2000.00  2000.0
(2997500.0, 3003000.0] 0              3000.00  3000.0
(3498000.0, 3503500.0] 0              3500.00  3500.0
(5494500.0, 5500000.0] 0              5500.00  5500.0

[114 rows x 64 columns]

## 3.5 Breakout for Functions and Pandas

Write a function that takes a column in Pandas and computes the [arithmetic mean](https://en.wikipedia.org/wiki/Arithmetic_mean) value of the data in it without using Pandas **_aggregate_** functions.

Compare that result to the one from Pandas **_aggregate_** function `.mean()`.  How did your values compare?  Were they exactly equal?  Did you expect them to be given what you know about **_floating point_** numbers?

*ANSWER KEY:* There are a lot of ways to do this.  One possible solution is shown below.

In [40]:
def column_mean(df, column_name):
  sum = 0
  for value in df[column_name]:
    sum += value
  mean = sum / len(df[column_name])
  print(mean)

In [41]:
my_column = "INJURIES_INDIRECT"

In [42]:
column_mean(df, my_column)

0.0008325156840008325

In [43]:
df[my_column].mean()

0.0008325156840008325